* {
	padding: 0;
	margin: 0;
}
body {
	padding: 15px;
}
h1 {
	text-align: center;
}
.logo {
	margin-top: 15%;
}
.logo h1 {
	font-size: 5em!important;
}
.btn {
	border-radius: 0px!important;
}
#user_login, #user_registration {
	padding: 15px;
	display: block!important;
	margin: 0 auto;
	width: 74%;
}
input[type=date] {
	width: 174px!important;
}
#logout {
	float: right;
}
.lander {
	margin-top: 6%;
}
.lander_submit {
	display: block!important;
	margin: 10px auto!important;
}
#user_login input, #user_registration input {
	margin: 10px 15px;
}
.error {
	display: block!important;
	text-align: center;
	font-weight: bold;
	color: red;
}
#lander_container {
	margin-top: 10%;
	background-color: rgba(215, 215, 215, 1);
	outline: 3px solid rgba(200, 200, 200, 1);
	box-shadow: 8px 8px 13px grey;
}
/*BEGIN CHATTER CSS*/
	/*USER MONITOR CSS*/
	.user_monitor {
		display: inline-block;
		height: 330px!important;
		outline: 1px solid black;
		padding: 5px!important;
		margin: 15px;
	}
	.user_monitor h3 {
		text-align: center;
		border-bottom: 2px solid black;
		margin-top: 5px;
	}
	.user_monitor li {
		list-style-type: none;
	}
	.Online {
		color: green;
		font-weight: bold;
	}
	.Away {
		color: orange;
		font-weight: bold;
	}
.chat_monitor, .user_chat {
	outline: 1px solid black;
	display: inline-block!important;
	height: 300px;
	padding: 5px!important;
	margin: 15px;
}
/*CANVAS CSS*/
	.volume {
		display: inline-block!important;
		outline: 1px solid black;
		margin: 15px!important;
		top: 10%;
	}
/*CHAT CSS*/
	#chat_area {
		height: 89%;
		border: 3px solid rgba(200, 200, 200, 1);
		background-color: rgba(220, 220, 220, 1);
		overflow: scroll;
	}
	#chat_box {
		width: 90%;
		margin-top: 6px;
	}
	.chat_submit {
		padding: 1px 12px!important;	
		margin-bottom: 2px!important;
	}
	.bold {
		font-weight: bold;
	}
	.timestamp {
		text-align: center;
		font-style: italic;
	}
	.chat_message {
		margin: 0px 3px;
	}
	.chat_area div:nth-child(even) {
		background-color: lightgrey;
	}
/*VOICE CHAT BOX CSS */
	.user_audio_box {
		height: 75px;
	}
	.user_label {
		vertical-align: middle;
		display: inline-block;
		margin-bottom: 21px;
	}
	audio {
		display: block!important;
		margin: 15px auto;
	}